


.serviceHighlights{

  font-family: Outfit;
  height: auto;
  margin-top: auto;
 padding-top: 100px;
 padding-bottom: 100px;
  display: flex;
  justify-content: center;
  gap:300px;


}

.serviceHighlights h1{
  font-size: 20px;
}
.serviceHighlights p{
  color:#9CA3AF

}

.imgs{
  height:44px;
  width: 44px;
}


.container{
align-items: center;
text-align: center;
}