
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400&display=swap');


.navImage{
  height: 50px;
}

header {
margin-top:-5px;
border-style: none;

}

ul a {
text-decoration: none;
color: black;
font-family: "Outfit", sans-serif;
font-weight: 400;


}

a h1 {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 12.5px;
}


.navUl{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 60px;
}


.navContainer{
  display: flex;
  justify-content: space-between;
}

.imgContainer{
  margin: auto;
  width: 50%;
}

.navLinkContainer{
  margin-right: 90px;
}

.cartImg {
height: 23px;
align-items: center;
}

.featuresContainer {
 padding-right: 40px;
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 30px;
}
.badgeContainer {
  position: relative;
}
.badge {
  position: absolute;
  right: -8px;
  bottom: -8px;
  width: 1rem;
  height: 1rem;
  text-align: center;
  line-height: 1rem;
  background-color: rgb(210, 1, 1);
  color: white;
  border-radius: 50%;
  font-size: 8px;
}
