.cartTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.cartHeader {
  display: flex;
  background-color: #f5f5f5;
  padding: 10px;
  font-weight: bold;
}

.headerItem {
  flex: 1;
  text-align: center;
}

.cartItems {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cartItem {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.itemQuantity, .itemPrice, .itemTotal {
  flex: 1;
  text-align: center;
  margin-top: 30px;
}

.itemEmpty {
  flex: 1;
  visibility: hidden;
}

.itemDetails {

  flex: 1;

}

.itemDetails img {
  width: 80px;
  height: auto;
  background-size:contain;
}
