/* hero container  */
.heroContainer {
  display:flex;
}


/* hero container 1 */
.heroContainer1{
  width:40%;
  background-color: aqua;
  height: auto;
  position: relative;

}

.line{
  border-bottom: 1px solid #888;
}
.heroDescription{
  position: absolute;
  margin-top: 50%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
}



/* hero container 2  */
.heroContainer2{
  width:60%;
  height: auto;
  background-color:blue;
}


.heroImg {
  width: 100%;
  height:100%;
  object-fit: cover;
}
